<div class="border border-left-0 border-right-0 border-bottom-0 py-3 row">
  <div class="col-2 px-2">
    <%= image_tag post.user.avatar, class: "border rounded-circle w-100" %>
  </div>
  <div class="col-10 px-3">
    <p class="my-1">
      <strong><%= "@#{post.user.name}" %></strong>
      ・<span class="text-secondary"><%= time_ago_in_words(post.created_at) %> ago</span>
    </p>
    <%= post.body %>
  </div>
</div>
